<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="kotgromConnectionString" connectionString="Data Source=.;Initial Catalog=kotgrom;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="VkAppId" value="4273431"/>
    <add key="VkAppSecret" value="E6XkK7kALiHvqAzVOaN8"/>
    <add key="VkRedirectUri" value="http://localhost:29079/VkCallBack.ashx"/>
    <add key="FbAppId" value="201949719859346"/>
    <add key="FbAppSecret" value="201f5276549e9096c807316547983f13"/>
    <add key="FbRedirectUri" value="http://localhost:29079/FbCallBack.ashx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>